<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-dialclient" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DIALClient</name>
    <js-module name="DIALClient" src="www/DIALClient.js">
        <clobbers target="DIALClient" />
    </js-module>
    <dependency id="cordova-plugin-cocoapod-support"/>
    <platform name="ios">
      <pods-config ios-min-version="9.0" use-frameworks="true">
      </pods-config>
      <config-file target="config.xml" parent="/*">
        <feature name="DIALClient">
          <param name="ios-package" value="DIALClient" />
        </feature>
      </config-file>
      <header-file src="src/ios/DIALClient.h" />
      <source-file src="src/ios/DIALClient.m" />
      <pod name="'dial-discovery-ios" git="https://github.com/bbc/dial-discovery-ios.git" branch="master" />
    </platform>
</plugin>
